

/* home */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
	background-color: lavender;
}
.header {
	background-color: whitesmoke;
	margin-bottom: 20px;
	height: 50px;
    line-height: 30px;
}
nav ul {
	width: 1000px;
	margin: 0 auto;
    list-style: none;
    overflow: hidden;
}

nav ul li {
	float: left;
	border-right: 1px solid #DDD;
}
nav ul .logout {
	float: right;
	border-right: none;
}
nav ul li a {
	display: block;
	padding: 10px 15px;
	 text-align: center;
	 text-decoration: none;
	 color: #333;
}
nav ul li a:hover {
    background: #EEE;
    color: coral;
}


.errorMessages {
	margin-top: 30px;
	color: coral;
	text-align: center;
}
.errorMessages ul {
	list-style: none;
}

h2 {
	font-size: 30px;
	font-weight: 500;
	margin: 20px 0 30px;
	text-align: center;
}
.search-form {
	text-align: center;
	margin-top: 20px;
}
.search-form label{
	margin-left: 5px;
}
.search-btn {
    color: #c0c0c0;
    border: solid 2px #c0c0c0;
    margin-left: 5px;
}
.search-btn:hover {
	border: solid 2px #c0c0c0;
	background: #c0c0c0;
	color: white;
}
.main {
	width: 900px;
	margin: 0 auto;
}
.post {
    background-color: white;
    width: 65%;
    margin: 50px auto;
    border-radius: 5px;
}

.post-area h4 {
	padding: 30px 40px 0;
	margin-bottom: 0;
	font-size: 20px;
    font-weight: 300;
}
.post-area .name {
	padding-right: 30px;
	text-align: right;
    font-size: 15px;
}
.text {
	padding: 0 40px;
	font-size: 15px;
	white-space: pre-line;
    overflow-wrap: break-word;
}
p {
	margin: 0;
}
.post-info {
	font-size: 15px;
	display: inline-block;
	padding-left: 30px;
	margin-bottom: 5px;
}
form#post-form {
    text-align: right;
}
form#post-form input {
	margin-right: 20px;
    margin-bottom: 10px;
}
.post-border {
	width: 96%;
	margin: 0 auto;
	border-bottom: 1px solid #BBBBBB;
}

.comment {
	width: 84%;
	margin: 0 auto;
}
.comment-text {
	font-size: 13px;
	white-space: pre-line;
    overflow-wrap: break-word;
    border-radius: 8px;
    background-color: lavender;
    margin-top: 15px;
    margin-bottom: 3px;
}
.comment-text p {
	padding: 0 20px;
}
.commnet-info {
	font-size: 13px;
	text-align: right;
	margin-bottom: 5px;
	width: 80%;
    display: inline-block;
}
.comment-name {
	padding-right: 40px;
}
form#comment-form {
    text-align: right;
    display: inline-block;
    margin-left: 10%;
}
form#comment-form input {
	margin: 5px 0 10px;
}
.comment-border {
	width: 94%;
	margin: 0 auto;
	border-bottom: 1px solid #e5e5e5;
}
.comment-form {
	margin: 20px;
	text-align: right;
}
.comment-form textarea {
  border: 1px solid #1B73BA;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  font-size: 13px;
  padding: 10px;
  height: 70px;
  width: 80%;
  margin-right: 10%;
}
.comment-btn {
	margin: 15px 5%;
}
input[type="submit"] {
    display: inline-block;
    padding: 3px 6px;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    background-color: white;
}

.comment-btn:hover {
    background: #67c5ff;
    color: white;
}
.delete-btn:hover {
	border: solid 2px red;
	background: coral;
	color: white;
}


#category, input[type="date"] {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
#category {
	width: 150px;
}
input[type="date"] {
	width: 150px;
}
#category:focus, input[type="date"]:focus {
    border: 1px solid #333;
}
.search-result {
	text-align: right;
    margin-top: 20px;
    margin-right: 180px;
}





