
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
	width: 250px;
	margin: 20vh auto 0;
}
h3 {
	margin: 60px 0 30px;
}
ul {
	padding-left: 20px;
	margin-bottom: 20px;
}
li {
	color: coral;
}
form {
	marign: 20px;
}
input {
	margin-bottom: 20px;
}