
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
	background-color: whitesmoke;
	margin-bottom: 20px;
    height: 50px;
    line-height: 30px;
}
nav ul {
	width: 1000px;
	margin: 0 auto;
    list-style: none;
    overflow: hidden;
}

nav ul li {
	float: left;
	border-right: 1px solid #DDD;
}
nav ul .logout {
	border-right: none;
	float: right;
}
nav ul li a {
	display: block;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	color: #333;
}
nav ul li a:hover {
    background: #EEE;
}

.main {
    width: 800px;
    margin: 30px auto 20px;
}

h3 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 30px;
}

.errorMessages {
	color: coral;
	padding-left: 40px;
	margin-bottom: 20px;
}
.errorMessages li {
	margin-bottom: 3px;
}



table {
  width: auto;
  border-spacing: 0;
  font-size:14px;
}
table th {
  color: #fff;
  padding: 8px 15px;
  background: #258;
  background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
  background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
  font-weight: bold;
  border-left:1px solid #258;
  border-top:1px solid #258;
  border-bottom:1px solid #258;
  line-height: 120%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}
table th:first-child {
  border-radius: 5px 0 0 0;
}
table th:last-child {
  border-radius:0 5px 0 0;
  border-right:1px solid #258;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}
table tr td {
  padding: 8px 15px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
  text-align: center;
}
table tr td:last-child {
  border-right: 1px solid #84b2e0;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
table tr {
  background: #fff;
}
table tr:nth-child(2n+1) {
  background: #f1f6fc;
}
table tr:last-child td {
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

a {
	text-decoration: none;
}
a:hover {
	color: coral;
}

.status-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: white;
  color: cadetblue;
  text-decoration: none;
  font-weight: bold;
  padding: 1px 7px;
  border-radius: 4px;
  position: relative;
}

.status-btn:before {
  font-family: "FontAwesome";
  content: "\f105";/* 好きなフォントアイコンを　*/
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -8px;
}

.status-btn:hover {
  opacity: 0.6;
}
.stop-btn {
	color: coral;
}