

/* 共通 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
	background-color: whitesmoke;
	margin-bottom: 20px;
	height: 50px;
    line-height: 30px;
}
nav ul {
	width: 1000px;
	margin: 0 auto;
    list-style: none;
    overflow: hidden;
}

nav ul li {
	float: left;
	border-right: 1px solid #DDD;
}
nav ul .logout {
	border-right: none;
	float: right;
}
nav ul li a {
	display: block;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	color: #333;
}
nav ul li a:hover {
    background: #EEE;
}



.post-main {
    width: 800px;
    margin: 30px auto 20px;
}
h3 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 30px;
}

.errorMessages {
	color: coral;
	padding-left: 40px;
	margin-bottom: 20px;
}

textarea,
input {
    width: 90%;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 20px;
}

textarea {
    height: 200px; /* お好みの高さに */
}

input[type="submit"] {
    width: 60px;
    padding: 5px;
}
/* フォーカス時の色変更 */

textarea:focus,
input:focus {
    border: 1px solid #333;
}








